<footer>
    <div class="footer-section">
        <h3>Contact</h3>
        <p>Email: <a href="mailto:dariohaxhiraj@gmail.com">dariohaxhiraj</a></p>
    </div>
    <div class="footer-section connect">
        <h3>Connect</h3>
        <ul class="social-media">
            <li><a href="https://github.com/low-perry" target="_blank"><i class="fab fa-github"></i></a></li>
            <li><a href="https://discord.com/users/1218160635964030996" target="_blank"><i class="fab fa-discord"></i></a></li>
            <li><a href="https://mastodon.social/@lowperry" target="_blank"><i class="fab fa-mastodon"></i></a></li>
            <li><a href="https://www.chess.com/member/dar9794" target="_blank"><i class="fas fa-chess"></i></a></li>
    </div>
    <div class="footer-section">
        <h3>About</h3>
        <p>{{site.description}}</p>
    </div>
</footer>