<footer>
    <div class="footer-section">
        <h3>Contact</h3>
        <p>Email: <a href="mailto:{{ site.email | encode_email }}">Dario Haxhiraj</a></p>
    </div>
    <div class="footer-section connect">
        <h3>Connect</h3>
        <ul class="social-media">
            <li><a href="https://github.com/low-perry" aria-label="Go to Dario's GitHub" target="_blank"><i class="fab fa-github"></i></a></li>
            <li><a href="https://discord.com/users/1218160635964030996" aria-label="Go to Dario's Discord" target="_blank"><i class="fab fa-discord"></i></a></li>
            <li><a href="https://mastodon.social/@lowperry" aria-label="Go to Dario's Mastodon" target="_blank"><i class="fab fa-mastodon"></i></a></li>
            <li><a href="https://www.chess.com/member/dar9794" aria-label="Go to Dario's Chess.com" target="_blank"><i class="fas fa-chess"></i></a></li>
    </div>
    <div class="footer-section">
        <h3>About</h3>
        <p>{{site.description}}  (<kbd>Ctrl</kbd>+<kbd>Q</kbd> for more)</p>
    </div>
</footer>