<nav class="navbar">
    <div class="navbar-brand">
        <a href="{{ site.baseurl }}/">
            <img src="{{ site.baseurl }}/assets/images/logo.png" alt="Logo" style="height: 60px; vertical-align: middle; margin-right: 8px;" />
            <!--{{site.title}} -->
        </a>
    </div>
    <div class="navbar-toggle" id="navbar-toggle">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="navbar-links" id="navbar-links">
        <ul>
            {% for page in site.pages %}
                {% if page.title and page.title != "Search Results" %}
                    <li><a href="{{ page.url | relative_url }}" class="nav-link-{{ forloop.index }}">{{ page.title }}</a></li>
                {% endif %}
            {% endfor %}
            <li>
                <div class="header-search">
                    <i id="search-icon" class="fas fa-search"></i>
                    <form class="header-search-form" action="/search.html" method="get">
                        <input type="text" id="search-box" name="query">
                        <input type="submit" value="search">
                    </form>
                </div>
            </li>
        </ul>
    </div>
</nav>
