<nav class="navbar">
    <div class="navbar-brand">
        <a href="{{ site.baseurl }}/">
            {% include svg_logo.html %}
            <!--{{site.title}} -->
        </a>
    </div>
    <div class="nav-menu">
        <i id="theme-icon" class="fas fa-moon"></i>
        <i class="fas fa-search" id="search-icon"></i>
        </button>
        <div class="navbar-toggle" id="navbar-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="navbar-links" id="navbar-links">
            <ul>
                
                {% for page in site.pages %}
                    {% if page.title and page.title != "Dario's Blog" %}
                        <li><a href="{{ page.url | relative_url }}" class="nav-link-{{ forloop.index }}">{{ page.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
