<div id="search-modal" class="modal">
    <div class="modal-content">
        <input type="text" id="search-input" placeholder="🚀 Search for a blog post...">
        <span class="close">&times;</span>
        <ul id="search-results"></ul>
    </div>
</div>
<script>
        // Template to generate the JSON to search
        window.store = {
          {% for post in site.posts %}
            "{{ post.url | slugify }}": {
              "title": "{{ post.title | xml_escape }}",
              "date":  {{ post.date | date: "%b %-d, %Y" | jsonify}},
              "author": "{{ post.author | xml_escape }}",
              "category": "{{ post.category | xml_escape }}",
              "content": {{ post.content | strip_html | jsonify }},
              "url": "{{ post.url | xml_escape }}"
            }
            {% unless forloop.last %},{% endunless %}
          {% endfor %}
        };
</script>
  
  <!-- Import lunr.js from unpkg.com -->
  <script src="{{ '/assets/js/lunr.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/search.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/modal.js' | relative_url }}"></script>
