:root {
    --background-color: #1e1e2e;
    --text-color:  #cdd6f4;
    --mantle-color: #181825;
    --crust-color: #11111b;
    --nav-menu-color: #f2cdcd;
    --nav-link-1-color: #fab387;
    --nav-link-2-color: #a6e3a1;
    --nav-link-3-color:  #b4befe;
    --hero-gradient-1: #f5e0dc;
    --hero-gradient-2: #cba6f7;
    --strong-quote-color: #e78284;
    --link-color: #89b4fa;
    --post-card-color: #313244;
    --subtext-color: #bac2de;
    --title-font-size: 32px;
    --font-family: 'Inter', sans-serif;
    --main-padding: 20px;
    --main-margin: 20px;
    --main-font-size: 18px;
}

.light-mode {
    --background-color: #eff1f5;
    --text-color: #4c4f69;
    --mantle-color: #e6e9ef;
    --crust-color: #dce0e8;
    --nav-menu-color: #dd7878;
    --nav-link-1-color: #fe640b;
    --nav-link-2-color: #40a02b;
    --nav-link-3-color: #7287fd;
    --hero-gradient-1: #dc8a78;
    --hero-gradient-2:  #8839ef;
    --strong-quote-color: #d20f39;
    --link-color: #1e66f5;
    --post-card-color: #ccd0da;
    --subtext-color: #5c5f77;
}

header {
    background-color: var(--mantle-color);
    padding: 10px 0;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    flex: 1;
}

main {
    font-size: var(--main-font-size);
}

h1.page-title {
    color: var(--page-color);
    font-size: 3em; 
    font-weight: 600; 
    margin-bottom: 20px;
}
a {
    color: var(--link-color);
    text-decoration: none;
}
.page-container {
    margin: 0 auto;
    max-width: 900px;
    padding: 20px;
    overflow-wrap: break-word;
}

.navbar {
    position: fixed; /* Make the navbar sticky */
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--mantle-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0;
    padding: 0 20px;
    z-index: 1000; /* Ensure the navbar is above other content */
}


.nav-menu {
    display: flex;
    align-items: center;
}

.navbar-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links ul li {
    margin-left: 20px;
}

.navbar-links ul li a {
    color: var(--nav-menu-color);
    text-decoration: none;
    font-weight: semi-bold;
    font-size: 20px;
    position: relative;
    transition: color 0.3s ease-in-out;
}

.navbar-links ul li a::after {
    content: '';
    position: absolute;
    bottom: -5px; 
    left: 50%;
    width: 0;
    height: 4px; 
    background-color: var(--after-color); 
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out; 
    transform: translateX(-50%);
}

.navbar-links ul li a:hover::after,
.navbar-links ul li a.active::after {
    width: 20px; 
    left: 50%;
}

.nav-link-2 {
    --after-color: var(--nav-link-1-color); 
}

.nav-link-3 {
    --after-color: var(--nav-link-2-color); 
}

.nav-link-4 {
    --after-color: var(--nav-link-3-color); 
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.navbar-toggle span {
    background-color: var(--nav-menu-color);
    height: 3px;
    margin: 4px 0;
    width: 25px;
}

main {
    flex: 1;
    padding: var(--main-padding);
    margin: var(--main-margin);
}

footer {
    background-color: var(--mantle-color);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.social-media {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.social-media li {
    margin: 0 10px 0 0;
}

/* Hero section */
.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-text, .hero-logo {
    width: 50%;
}
.hero-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text p.hero-hello {
    background: linear-gradient(to right, var(--hero-gradient-1), var(--hero-gradient-2));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}
.hero-text p.hero-welcome {
    font-size: 20px; 
    font-weight: bold;
    color: var(--text-color);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.hero-logo img {
    height: 250px;
    width: auto;
    transition: transform 0.5s ease-in-out;
}

.hero-logo img:hover {
    animation: spin 2s linear infinite;
}





/* Responsive styles */
@media (max-width: 768px) {
    .navbar-links {
        position: fixed;
        top: 60px;
        left: 0;
        right: 0;
        background-color: var(--mantle-color);
        display: none;
        flex-direction: column;
        width: 100%;
        z-index: 1000;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links ul li {
        margin: 10px 0;
        text-align: center;
    }

    .navbar-toggle {
        display: flex;
    }

    .navbar-links.active {
        display: flex;
    }
    footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin: 10px 0;
        text-align: center;
    }
    
    .social-media {
        justify-content: center;
    }

    .hero-container {
        flex-direction: column;
    }

    .hero-text p.hero-hello {
        font-size: 30px;
    }

    .dropdown-active {
        margin-top: 135px; 
    }
}

blockquote {
    background-color: var(--mantle-color);
    border-left: 10px solid var(--crust-color);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    color: var(--nav-link-1-color);
}

blockquote p {
    margin: 0;
}

blockquote strong {
    color: var(--strong-quote-color);
}


#search-icon, #theme-icon {
    font-size: 20px;
    color: var(--nav-menu-color);
    cursor: pointer;
    margin-right: 20px;
    position: relative; /* Needed for the ::after element */
}

#search-icon::after {
    content: '';
    position: absolute;
    bottom: -5px; 
    left: 50%;
    width: 0;
    height: 4px;
    background-color: var(--link-color); 
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out; 
    transform: translateX(-50%);
}

#search-icon:hover::after {
    width: 20px; 
    left: 50%;
}

pre {
    overflow-x: scroll;
    /* Style the scrollbar for WebKit browsers (Chrome, Safari) */
    -webkit-overflow-scrolling: touch; /* Optional: smooth scrolling on iOS */
}

pre::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
    height: 12px; /* Height of the scrollbar */
}

pre::-webkit-scrollbar-thumb {
    background-color: var(--link-color); /* Color of the scrollbar thumb */
    border-radius: 6px; /* Roundness of the scrollbar thumb */
    border: 3px solid var(--background-color); /* Padding around the scrollbar thumb */
}

pre::-webkit-scrollbar-track {
    background-color: var(--mantle-color); /* Color of the scrollbar track */
    border-radius: 6px; /* Roundness of the scrollbar track */
}

/* Style the scrollbar for Firefox */
pre {
    scrollbar-width: thin; /* Width of the scrollbar */
    scrollbar-color: var(--link-color) var(--mantle-color); /* Color of the scrollbar thumb and track */
}