:root {
    --background-color: #1e1e2e;
    --text-color:  #cdd6f4;
    --mantle-color: #181825;
    --title-color: #fbdbab;
    --title-font-size: 32px;
    --link-color: #89b4fa;
    --font-family: 'Inter', sans-serif;
    --main-padding: 20px;
    --main-margin: 20px;
}

header {
    background-color: var(--mantle-color);
    padding: 10px 0;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    flex: 1;
}
h1.page-title {
    color: var(--page-color);
    font-size: 3em; 
    font-weight: bold; 
    margin-bottom: 20px;
}
a {
    color: var(--link-color);
    text-decoration: none;
}

.navbar {
    position: fixed; /* Make the navbar sticky */
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--mantle-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0;
    padding: 0 20px;
    z-index: 1000; /* Ensure the navbar is above other content */
}

.navbar-brand a {
    color: var(--title-color);
    text-decoration: none;
    font-size: var(--title-font-size);
    font-weight: semi-bold;
}
.nav-menu {
    display: flex;
    align-items: center;
}

.navbar-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links ul li {
    margin-left: 20px;
}

.navbar-links ul li a {
    color: #f2cdcd;
    text-decoration: none;
    font-weight: semi-bold;
    font-size: 20px;
    position: relative;
    transition: color 0.3s ease-in-out;
}

.navbar-links ul li a::after {
    content: '';
    position: absolute;
    bottom: -5px; /* Adjust the position as needed */
    left: 50%;
    width: 0;
    height: 4px; /* Adjust the height as needed */
    background-color: var(--after-color); /* Use the link color variable */
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out; /* Add transition for smooth animation */
    transform: translateX(-50%);
}

.navbar-links ul li a:hover::after,
.navbar-links ul li a.active::after {
    width: 20px; 
    left: 50%;
}
.nav-link-1 {
    --after-color: #ff6f61; 
}

.nav-link-2 {
    --after-color: #fab387; 
}

.nav-link-3 {
    --after-color: #a6e3a1; 
}

.nav-link-4 {
    --after-color: #b4befe; /* Example color for the fourth link */
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.navbar-toggle span {
    background-color: #f5e0dc;
    height: 3px;
    margin: 4px 0;
    width: 25px;
}

main {
    flex: 1;
    padding: var(--main-padding);
    margin: var(--main-margin);
}

footer {
    background-color: var(--mantle-color);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.social-media {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.social-media li {
    margin: 0 10px 0 0;
}

/* Hero section */
.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-text, .hero-logo {
    margin-top: 20px;
    width: 50%;
}
.hero-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text p.hero-hello {
    background: linear-gradient(to right, #f5e0dc, #cba6f7);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    font-weight: bold;
}
.hero-text p.hero-welcome {
    font-size: 20px; 
    font-weight: bold;
    color: var(--text-color);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.hero-logo img {
    height: 250px;
    width: auto;
    transition: transform 0.5s ease-in-out;
}

.hero-logo img:hover {
    animation: spin 2s linear infinite;
}





/* Responsive styles */
@media (max-width: 768px) {
    .navbar-links {
        position: fixed;
        top: 60px;
        left: 0;
        right: 0;
        background-color: var(--mantle-color);
        display: none;
        flex-direction: column;
        width: 100%;
        z-index: 1000;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links ul li {
        margin: 10px 0;
        text-align: center;
    }

    .navbar-toggle {
        display: flex;
    }

    .navbar-links.active {
        display: flex;
    }
    footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin: 10px 0;
        text-align: center;
    }
    
    .social-media {
        justify-content: center;
    }

    .hero-container {
        flex-direction: column;
    }

    .hero-text p.hero-hello {
        font-size: 30px;
    }

    .dropdown-active {
        margin-top: 135px; 
    }
}

blockquote {
    background-color: #181825;
    border-left: 10px solid #11111b;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    color: #fab387;
}

blockquote p {
    margin: 0;
}

blockquote strong {
    color: #e78284;
}


#search-icon {
    font-size: 20px;
    color: #f2cdcd;
    cursor: pointer;
    margin-right: 20px;
    position: relative; /* Needed for the ::after element */
}

#search-icon::after {
    content: '';
    position: absolute;
    bottom: -5px; /* Adjust the position as needed */
    left: 50%;
    width: 0;
    height: 4px; /* Adjust the height as needed */
    background-color: #89b4fa; /* Use the desired color */
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out; /* Add transition for smooth animation */
    transform: translateX(-50%);
}

#search-icon:hover::after {
    width: 20px; /* Adjust the width as needed */
    left: 50%;
}
