---
layout: main
---

<div class="hero-container">
    <div class="hero-text">
        <p class="hero-hello">
            Hello there. My name is Dario.<br>
            I am a software developer.<br>
            I love math and pastel colors.
        </p>
        <p class="hero-welcome">
            Welcome to my personal website.
        </p>
        <p class="hero-about">
            I write about my experiences, my projects and my thoughts.
        </p>
    </div>
    <div class="hero-logo">
        <img src="{{ site.baseurl }}/assets/images/logo.png" alt="Logo">
    </div>
</div>